listen: {{ tsuru_api_bind_address }}:{{ tsuru_api_bind_port }}
{% if tsuru_api_public_address != "" %}
{% if tsuru_api_public_port != "" %}
host: {{ tsuru_api_public_address }}:{{ tsuru_api_public_port }}
{% else %}
host: {{ tsuru_api_public_address }}
{% endif %}
{% endif %}
tsuru_api_debug: {{ tsuru_api_debug }}
{% if tsuru_api_tls_enabled %}
use-tls:
tls:
    cert-file: {{ tsuru_api_tls_tsuru_cert }}
    key-file: {{ tsuru_api_tls_tsuru_key }}
{% endif %}
repo-manager: {{ tsuru_api_repo_manager }}
{% if tsuru_api_smtp_server != "" %}
smtp:
  server: {{ tsuru_api_smtp_server }}
  user: {{ tsuru_api_smtp_user }}
  password: {{ tsuru_api_smtp_password }}
{% endif %}
{% if tsuru_api_repo_manager != "none" %}
git:
  api-server: {{ tsuru_api_git_address }}:{{ tsuru_api_git_port }}
{% endif %}
database:
  url: {{ tsuru_api_mongo_addr }}
  name: {{ tsuru_api_mongo_tsuru_db }}
auth:
  token-expire-days: {{ tsuru_api_token_days }}
  hash-cost: {{ tsuru_api_hash_cost }}
  user-registration: {{ tsuru_api_user_registration }}
provisioner: {{ tsuru_api_provisioner }}
docker:
  bs:
    socket: {{ tsuru_api_docker_bs_socket }}
  cluster:
    storage: {{ tsuru_api_docker_cluster_storage }}
    mongo-database: {{ tsuru_api_mongo_cluster_db }}
    mongo-url: {{ tsuru_api_mongo_addr }}
  collection: {{ tsuru_api_docker_collection_name }}
  registry: {{ tsuru_api_docker_registry_url }}
  repository-namespace: {{ tsuru_api_docker_registry_namespace }}
  image-history-size: {{ tsuru_api_docker_image_history_size }}
  user: {{ tsuru_api_docker_user }}
  router: {{ tsuru_api_router_default }}
  deploy-cmd: {{ tsuru_api_docker_deploy_command }}
{% if tsuru_api_docker_tls_enabled %}
  tls:
    root-path: /etc/tsuru/certs
{% endif %}
  run-cmd:
    bin: {{ tsuru_api_docker_deploy_start }}
    port: {{ tsuru_api_docker_deploy_app_port }}
routers:
{% for tsuru_router in tsuru_api_routers %}
  {{ tsuru_router.name }}:
    type: {{ tsuru_router.type }}
    domain: {{ tsuru_router.domain }}
{% if tsuru_router.sentinel_enabled %}
{% for tsuru_sentinel in tsuru_sentinels %}
{% if tsuru_sentinel.name == tsuru_router.sentinel_name %}
    redis-sentinel-addrs: {{ tsuru_sentinel.address }}
    redis-sentinel-master: {{ tsuru_sentinel.master|default(tsuru_api_sentinel_master_all) }}
    redis-password: {{ tsuru_sentinel.password|default(tsuru_api_sentinel_password_all) }}
{% endif %}
{% endfor %}
{% else %}
    redis-server: {{ tsuru_router.redis_address }}:{{ tsuru_router.redis_port }}
{% if tsuru_router.redis_password != "" %}
    redis-password: {{ tsuru_router.redis_password }}
{% endif %}
{% endif %}
{% endfor %}
pubsub:
{% if tsuru_api_pubsub_sentinel_enabled %}
{% for tsuru_sentinel in tsuru_api_sentinels %}
{% if tsuru_sentinel.name == tsuru_api_pubsub_sentinel_name %}
    redis-sentinel-addrs: {{ tsuru_sentinel.address }}
    redis-sentinel-master: {{ tsuru_sentinel.master|default(tsuru_api_sentinel_master_all) }}
    redis-password: {{ tsuru_sentinel.password|default(tsuru_api_sentinel_password_all) }}
{% endif %}
{% endfor %}
{% else %}
    redis-server: {{ tsuru_api_redis_address }}:{{ tsuru_api_redis_port }}
    redis-password: {{ tsuru_api_redis_password }}
{% endif %}
queue:
  mongo-url: {{ tsuru_api_mongo_addr }}
  mongo-database: {{ tsuru_api_mongo_queue_db }}
quota:
  units-per-app: {{ tsuru_api_quota_max_units }}
  apps-per-user: {{ tsuru_api_quota_max_apps }}
log:
  disable-syslog: {{ tsuru_api_log_syslog_enabled }}
  use-stderr: {{ tsuru_api_log_syslog_stderr }}
